.tellimus-edastatud {
  position: relative;
  font-size: var(--font-size-14xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.frame-inner,
.tellimus-edastatud-wrapper {
  width: 12.44rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-inner {
  position: absolute;
  top: 11.81rem;
  left: 0;
  width: 120rem;
  height: 17.94rem;
  overflow: hidden;
  padding: var(--padding-45xl) var(--padding-443xl) var(--padding-45xl)
    var(--padding-429xl);
  box-sizing: border-box;
}
.frame-child {
  position: relative;
  width: 32.94rem;
  height: 3.56rem;
}
.frame4 {
  width: 33rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame5 {
  position: relative;
  width: 35.63rem;
  height: 4.25rem;
  overflow: hidden;
  flex-shrink: 0;
  margin-top: -3rem;
}
.frame2,
.frame3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.frame3 {
  width: 35.63rem;
  height: 4.81rem;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame2 {
  width: 38.56rem;
  align-items: flex-end;
  justify-content: center;
}
.sisesta-andmed,
.tellimus-edastatud1,
.vali-domeen {
  position: absolute;
  top: 0;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.vali-domeen {
  left: 0;
}
.sisesta-andmed,
.tellimus-edastatud1 {
  left: 27.75rem;
}
.sisesta-andmed {
  left: 13.88rem;
}
.vali-domeen-parent {
  position: relative;
  width: 37.81rem;
  height: 1.38rem;
}
.frame8 {
  overflow: hidden;
}
.frame-parent,
.frame-wrapper,
.frame6,
.frame7,
.frame8 {
  width: 37.81rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-parent,
.frame6,
.frame7 {
  width: 39.38rem;
  overflow: hidden;
  align-items: flex-end;
}
.frame-parent,
.frame6 {
  width: 43.94rem;
}
.frame-parent {
  width: 119.69rem;
  height: 11.81rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-587xl);
  box-sizing: border-box;
  gap: var(--gap-sm);
}
.frame-item,
.frame1 {
  position: absolute;
  top: 0;
}
.frame1 {
  left: -0.69rem;
  width: 121.38rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-item {
  left: 30.84rem;
  border-radius: 50%;
  background-color: var(--color-lightgreen);
  width: 3.56rem;
  height: 3.56rem;
}
.ellipse-div,
.frame-child1 {
  position: absolute;
  top: 0.27rem;
  border-radius: 50%;
  background-color: var(--color-silver);
}
.ellipse-div {
  left: 16.06rem;
  width: 3.56rem;
  height: 3.56rem;
}
.frame-child1 {
  left: 0;
  width: 3.5rem;
  height: 3.31rem;
}
.div,
.div1,
.div2 {
  position: absolute;
  top: 0.46rem;
  left: 31.94rem;
  font-size: var(--font-size-14xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 2.13rem;
  height: 2.19rem;
}
.div1,
.div2 {
  top: 0.77rem;
  left: 17.13rem;
  width: 2rem;
  height: 2.38rem;
}
.div2 {
  top: 0.64rem;
  left: 1.06rem;
  width: 2.13rem;
  height: 2.5rem;
}
.arrow-icon,
.frame-child2 {
  position: absolute;
  top: 2.02rem;
  left: 20.09rem;
  width: 9.34rem;
  height: 0.03rem;
  object-fit: contain;
}
.frame-child2 {
  top: 1.99rem;
  left: 4.44rem;
  width: 10.6rem;
  height: 0.06rem;
}
.ellipse-parent {
  position: relative;
  width: 34.41rem;
  height: 3.83rem;
}
.frame-div,
.frame9 {
  height: 3.83rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.frame9 {
  position: absolute;
  top: 4.92rem;
  left: 43.69rem;
  width: 34.41rem;
  height: 4.04rem;
  overflow: hidden;
  justify-content: flex-start;
}
.edastatud-child,
.frame {
  width: 120rem;
  overflow: hidden;
  flex-shrink: 0;
}
.frame {
  position: relative;
  height: 29.75rem;
}
.edastatud-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 12.13rem;
}
.edastatud {
  margin: 0;
  position: relative;
  background-color: var(--color-darkseagreen);
  width: 100%;
  height: 69.19rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-418xl);
}
@media screen and (max-width: 1200px) {
  .edastatud-child {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 960px) {
  .edastatud-child {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 420px) {
  .edastatud-child {
    align-items: center;
    justify-content: flex-start;
  }
}
