body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-9xl: 1.75rem;
  --font-size-14xl: 2.06rem;
  --font-size-lg: 1.13rem;
  --font-size-7xl: 1.63rem;

  /* Colors */
  --color-black: #000;
  --color-gainsboro: #dedede;
  --color-darkseagreen: #8bb187;
  --color-silver: #b3b8b2;
  --color-lightgreen: #beffb4;
  --color-white: #fff;
  --color-gray: #2f2828;

  /* Gaps */
  --gap-418xl: 27.31rem;
  --gap-sm: 0.88rem;

  /* Paddings */
  --padding-5xs: 0.5rem;
  --padding-587xl: 37.88rem;
  --padding-45xl: 4rem;
  --padding-443xl: 28.88rem;
  --padding-429xl: 28rem;
  --padding-2xl: 1.31rem;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-mini: 15px;
}
