.component-1-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
}
.tekst {
  position: absolute;
  top: 33%;
  left: 38%;
  font-size: var(--font-size-9xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.component-1,
.component-1-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 300px;
  height: 100px;
}
.component-1-parent {
  padding: 46px;
  width: 100%;
  height: 194px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .component-1-parent {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 960px) {
  .component-1-parent {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 420px) {
  .component-1-parent {
    align-items: center;
    justify-content: flex-start;
  }
}
